@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

nav {
    display: flex;
    align-items: center;
    width: 1170px;
    justify-content: space-between;
}

.recipes-links {
    display: flex;
    gap: 30px;
}

.recipes-links li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

main {
    background-color: #9747FF;
    padding: 129px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}

.main-content {
    display: flex;
    gap: 60px;
}

.bold-text {
    font-weight: 900;
}

.main-content-left h1{
    margin-bottom: 30px;
    font-size: 40px;
}

.main-content-left p {
    margin-bottom: 90px;
}

.button {
    text-decoration: none;
    background-color: #FFFB47;
    font-size: 16px;
    border-radius: 30px;
    padding: 8px 38px;
    font-weight: 500;
    border: none;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

.recipe-content {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 60px;
}

.recipe-content h1 {
    font-size: 40px;
}

.recipe-content h3 {
    font-size: 24px;
}

.description-ingredients {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.steps {
    width: 330px;
}
